<header>
  <h1 class="text-center pt-3 fs-4">FORMULÁRIO SOBRE <br><strong>HIGIÊNE PESSOAL</strong></h1>
</header>

<hr>

<div class="fake-bg"></div>

<section style="width: 50vw; margin: 0 auto;">
  <router-outlet></router-outlet>
</section>

<hr>

<footer>
  <img src="../assets/favicon.png" alt="favicon" width="30" height="30">
  <span>Built by <a href="https://github.com/LucasVieiraS" alt="LucasVieiraS Github">Lucas</a> & <a href="https://github.com/joao-erik2077" alt="joao-erik2077 Github">João Erik</a></span>
  <span><a href="https://github.com/joao-erik2077/QuestionarioHigienePessoal" alt="Github Repository">Github Repository</a></span>
  <span><small>2022</small></span>

</footer>
